body{
    font-family: 'Roboto', sans-serif;

}
.navbar{
    background-color: red;
    font-weight: bold;
}
.navbar-brand{
    color: white;
}
.nav-link{
    color: white;
}
.nav-link-color{
    color: white;
}


.header .row{
    height: 300px;
}
.header {
    background-image: url(Assets/2.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}   
.card{
    background-color: #011e3d;
    color: white;
}
.contenido .container-fluid{
    max-width: 1320px;
}
.header .container {
    max-width: 450px;
}
.header .container h1{
    border-radius: 10px;
    padding: 5px;
}
.circuito h2{
    font-size: 50px;
    color: blueviolet;
}
.circuito>span{
    display: block;
}
@media (min-width: 1600px){
    .contenido .container-fluid{
        max-width: 1320px;
    }
}
.carrera{
    padding: 5px;
    margin-top: 40px;
    border-bottom: 3px solid black;
}
.carrera span{
    font-size: 22px;
    font-weight: bold;
}
.carrera span span{
    font-size: 22px;
    font-weight: normal;
}   
.circuito ul span {
    color: green;
}
.circuito img{
    /* width: 100%; */
    max-width: 400px;
}
footer{
    background-color: red;
    color: white;
    padding: 50px 0;
    margin-top: 100px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: red;
}
.banner-home{
    background-image: url(Assets/Diseño\ sin\ título\ \(5\).png);
    color: white;
 
}
.card-piloto {
    display: flex;
}
.equipo__card{
    align-content: space-between;
}
.tarjeta__equipo{
    gap: 10px;
}
.header_equipos{
    font-weight: 900;
    font-style: italic;
    font-size: 50px;
}
.circuito__img{
    transition: all .2s;
}
.circuito__img:hover{
    transform: scale(1.1);
}

.bg-form{
    background-color: red;
    font-weight: bold;
}
.fs-1{
    display: flex;
    justify-content: space-between;
}

.fs-1 img{
    align-self: center;
}

.borde-titulo-equipos{
    border: 8px solid black;
    border-left: none;
    border-bottom: none;
    border-radius: 0 10px 0 0;

}
.borde-equipos{
    border: 3px solid black;
    border-left: none;
    border-bottom: none;
    border-radius: 0 10px 0 0;

}

@media (min-width: 992px){
    .pilotos{
        display: flex;
        justify-content: space-between;
    }
}